<h2 class="text-xl font-bold mb-4">Offers</h2>

<a href="/admin/offers/create"
class="bg-green-600 text-white px-4 py-2 mb-4 inline-block">
Add Offer
</a>

<% offers.forEach(o => { %>

  <div class="border p-4 mb-6 bg-white shadow">

    <h3 class="text-lg font-bold mb-2"><%= o.title %></h3>

    <img src="<%= o.popupImage %>" class="w-64 mb-4"/>

    <% o.branchOffers.forEach(b => { %>

      <div class="border p-3 mb-3">

        <strong><%= b.branch %></strong><br>

        Price: ₹<%= b.price %><br>

        Validity:
       <%= b.validity?.from ? new Date(b.validity.from).toDateString() : "" %>
        -
       <%= b.validity?.to ? new Date(b.validity.to).toDateString() : "" %>

        <img src="<%= b.bannerImage %>" class="w-48 mt-2"/>

      </div>

    <% }) %>

    <a href="/admin/offers/edit/<%= o._id %>"
    class="text-blue-500">Edit</a>

    <a href="/admin/offers/delete/<%= o._id %>"
    class="text-red-500 ml-3">Delete</a>

  </div>

<% }) %>