<div class="flex justify-between items-center mb-6">

  <div>
    <h2 class="text-2xl font-bold">Branches</h2>
    <p class="text-gray-500 text-sm">
      Manage resort properties and locations
    </p>
  </div>

  <a href="/admin/branches/create" class="btn-primary">
    + Add Branch
  </a>

</div>


<div class="card  overflow-x-auto">

  <table class="w-full text-sm">

    <thead class="bg-gray-100">
      <tr>
        <th class="p-3 text-left">Branch</th>
        <th class="p-3 text-left">Image</th>
        <th class="p-3 text-left">Location</th>
        <th class="p-3 text-center">Actions</th>
      </tr>
    </thead>

    <tbody>

      <% if(branches.length === 0){ %>

        <tr>
          <td colspan="5" class="text-center py-8 text-gray-500">
            No branches available
          </td>
        </tr>

      <% } %>

      <% branches.forEach(branch => { %>

     <tr class="border-b hover:bg-gray-50 transition">

        <td class="p-3 font-semibold">
          <%= branch.name %>
        </td>

         <!-- Image -->

        <td class="p-3">

          <% if(branch.images){ %>

            <img
              src="<%= branch.images %>"
              alt="branch"
              class="w-16 h-12 object-cover rounded-lg shadow"
            >

          <% } else { %>

            <span class="text-gray-400 text-xs">
              No Image
            </span>

          <% } %>

        </td>

        <td class="p-3 text-emerald-600 font-semibold">
          <%= branch.location %>
        </td>

        <!-- Actions -->

        <td class="p-3 text-center">

          <div class="flex justify-center gap-2">

          <!-- Edit -->
          <a
            href="/admin/branches/edit/<%= branch._id %>"
            class="px-3 py-1 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition text-xs"
          >
            ✏ Edit
          </a>

          <!-- Delete -->
          <a
            href="/admin/branches/delete/<%= branch._id %>"
            onclick="return confirm('Delete this branch?')"
            class="px-3 py-1 bg-red-500 text-white rounded-lg hover:bg-red-600 transition text-xs"
          >
            🗑 Delete
          </a>

          </div></td>

      </tr>

      <% }) %>

    </tbody>

  </table>

</div>