<h2>Customer Enquiries</h2>

<table class="w-full bg-white">

<tr>
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th>Type</th>
<th>Message</th>
</tr>

<% enquiries.forEach(e => { %>

<tr>
<td><%= e.name %></td>
<td><%= e.email %></td>
<td><%= e.phone %></td>
<td><%= e.enquiryType %></td>
<td><%= e.message %></td>
</tr>

<% }) %>

</table>


<!-- Pagination -->
<div class="pagination">

  <% if (currentPage > 1) { %>
    <a href="?page=<%= currentPage - 1 %>">Previous</a>
  <% } %>

  <% for (let i = 1; i <= totalPages; i++) { %>
    <a 
      href="?page=<%= i %>" 
      class="<%= currentPage === i ? 'active' : '' %>"
    >
      <%= i %>
    </a>
  <% } %>

  <% if (currentPage < totalPages) { %>
    <a href="?page=<%= currentPage + 1 %>">Next</a>
  <% } %>

</div>